# Gizli anahtarlar ve ortam değişkenleri
.env

# Sanal ortamlar
kap_env/
venv/
env/

# Python derleme ve önbellek dosyaları
__pycache__/
*.py[cod]

# Log dosyaları
*.log

# IDE ayarları
.vscode/
tg_test.py